body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(32, 33, 36);
}

a{
    text-decoration: none;
    color: white;
}
.brand{
    border: 1px solid white;
    padding: 5px;
    border-radius: 50% ;
    transition: transform 0.2s ease-in-out;
}

.img-recomendacao{
  width: 100px;
  border-radius: 50% ;
}

.img-eu{
    max-width: 200px;
    border-radius: 50% ;

}

.img-tech{
    max-width: 80px;
}




.titulo{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: capitalize;
    
}

.subtitulo{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.texto{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 200;
    color: #B3B3B3;
    text-transform: initial;
}

.texto2{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 200;
    color: #B3B3B3;
}

.texto3{
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 200;
  color: #B3B3B3;
}

.contact-me{
    
   background-color: black;
    border-radius: 24px;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.brand:hover{
  transform: scale(1.1);
}

.contact-me:hover{
  transform: scale(1.1);
  background-color: white;
  color: black;
  border: 1px solid black;

}

.timeline{
 

  color:#fff;
  padding:30px 20px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.timeline ul{
  list-style-type:none;
  border-left:2px solid #094a68;
  padding:10px 5px;
}
.timeline ul li{
  padding:20px 20px;
  position:relative;
  cursor:pointer;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#1685b8;
  border-radius:25px;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
}
.timeline ul li .content h3{
  color:#34ace0;
  font-size:17px;
  padding-top:5px;
}
.timeline ul li .content p{
  padding:5px 0px 15px 0px;
  font-size:15px;
}
.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#34ace0;
  border-radius:50%;
  left:-11px;
  top:28px;
  transition:.5s;
}
.timeline ul li:hover{
  background-color:#071f2a;
}
.timeline ul li:hover:before{
  background-color:#0F0;
  box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
  .timeline{
    width:100%;
    padding:30px 5px 30px 10px;
  }
  .timeline ul li .content h3{
    color:#34ace0;
    font-size:15px;
  }

}


@media (max-width: 768px) {
    
    .img-eu{
        border-radius: 20% ;
    }

    .experience{
        text-align: center;
        
    }
}
















.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  